<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<!-- <add name="SuperSoft" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SuperSoft; User ID=JL;Password=londondream;Connect Timeout=5;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;Integrated Security=True"/> -->
		<!-- <add name="SuperSoft" connectionString="Data Source=SQL5063.site4now.net;Initial Catalog=DB_A6C972_SuperSoft;User Id=DB_A6C972_SuperSoft_admin;Password=Turkey1234!"/> -->
		<add name="SuperSoft" connectionString="Data Source=SQL5085.site4now.net;Initial Catalog=DB_A6C972_SuperSoft;User Id=DB_A6C972_SuperSoft_admin;Password=Turkey1234!"/>
	</connectionStrings>
	<appSettings>
	</appSettings>
</configuration>
