<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="JustStudy" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Just-Study; User ID=JL;Password=berlindream;Connect Timeout=5;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;Integrated Security=True"/>
        <!--<add name="JustStudyProduction" connectionString="Data Source=localhost;Initial Catalog=u1207309_just-study;Integrated Security=False;User ID=u1207309_lizagordova;Password=f4!eHUHy;Connect Timeout=2000;Encrypt=False;Packet Size=4096"/> -->
        <add name="JustStudyProduction" connectionString="Data Source=37.140.192.100;Initial Catalog=u1207309_just-study;Integrated Security=False;User ID=u1207309_lizagordova;Password=f4!eHUHy;Connect Timeout=2000;Encrypt=False;Packet Size=4096"/> 
   </connectionStrings>
   <appSettings>
       <add key="production" value="true" />
       <add key="productionSiteName" value="juststudy.ru.com" />
       <add key="localSiteName" value="localhost:5001" />
   </appSettings>
</configuration>