<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="JustStudy" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Just-Study; User ID=JL;Password=berlindream;Connect Timeout=5;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="key" value="test" />
	</appSettings>
</configuration>
