.authorizationForm {
    border-radius: 3%;
    height: 250px;
    width: 90%;
    margin-top: 1%;
    font-size: 1.5em;
}

.rowAuth {
    background-color: rgb(65, 105, 225);
    border-radius: 1%;
    margin-bottom: 15px;
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 30%;
}

.formLabel {
    width: 100%;
    color: white;
    margin-top: 10px;
}

.authButton {
    width: 80%;
    background-color: black;
    margin-top: 25px;
    margin-bottom: 15px;
}

.authNavLink {
    color: white;
    text-decoration: none;
}

.authNavLink:hover {
    color: rgb(65, 105, 225);
    background-color: white;
}