.nav-link {
    height: 60px;
    width: 100%;
}

.nav {
    height: 60px;
}

.inputLabel {
    margin-top: 2px;
    width: 100%;
}

.modalInput {
    width: 70%;
}

@media (max-width: 600px) {
    .nav {
        height: 120px;
    }
}

.cool-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.controlButton {
    width: 90%;
}

Table, td, tr, thead {
    border: 1px solid black;
}