.cardWord {
    background-color: #adb5bd;
    height: 75px;
    font-size: 0.8em;
    margin-top: 5px;
}

.wordColumn {
    width: 10%;
}

@media (max-width : 600px) {
    .cardWord {
        height: 105px;
    }
}

@media (max-width : 600px) {
    .cardWord {
        height: 125px;
    }
}

.addNewWordButton {
    color: rgb(65, 105, 225) !important;
    border-color: rgb(65, 105, 225) !important;
    background-color: white !important;
}

.addNewWordButton:hover {
    background-color: rgb(65, 105, 225) !important;
    color: white !important;
}

.wordDetails {
    font-size: 1.3em;
    margin-left: 5%;
}

.wordDetailsTitle {
    font-weight: bold;
}