.cardWord {
    background-color: #adb5bd;
    height: 75px;
    font-size: 0.8em;
    margin-top: 5px;
}

.wordColumn {
    width: 10%;
}

@media (max-width : 600px) {
    .cardWord {
        height: 105px;
    }
}

@media (max-width : 600px) {
    .cardWord {
        height: 125px;
    }
}