.lessonItem {
    background-color: #1b6ec2;
    border-color: #ffffff;
    height:70px;
    width: 80%;
    color: #ffffff;
    border-radius: 5%;
}

.container, .instruction {
    text-align: center;
}

.lessonButton {
    color: rgb(65, 105, 225);
    text-align: start;
    width: 100%;
    border-color: white;
}

.lessonButton:hover {
    background-color: rgb(65, 105, 225);
    color: white;
    text-align: start;
    width: 100%;
}

.modalButton {
    width: 150px;
    height: 150px;
}

.dataInput {
    width: 70%;
}

.saveLessonButton {
    margin-top: 10px;
}

.menuHeader {
    height: 70px;
    font-size: 0.9em;
}

.menuCourseHeader {
    height: 70px;
}

.mainMenuHeader {
    height: 70px;
    font-size: 0.9em;
}

.userMenuHeader {
    height: 70px;
}

.materialContent {
    width: 700px;
    height: 700px;
}

@media (max-width: 1220px) {
    .menuHeader {
        height: 130px;
    }
}

@media (max-width: 950px) {
    .mainMenuHeader {
        height: 130px;
    }
}

@media (max-width: 750px) {
    .menuHeader {
        height: 180px;
    }
}
@media (max-width: 900px) {
    .materialContent {
        width: 600px;
        height: 600px;
    }
}
@media (max-width: 720px) {
    .mainMenuHeader {
        height: 130px;
    }
    .materialContent {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 501px) {
    .mainMenuHeader {
        height: 195px;
    }
    .materialContent {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 650px) {
    .menuCourseHeader {
        height: 130px;
    }
}

@media (max-width: 370px) {
    .materialContent {
        width: 250px;
        height: 250px;
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link .menuNavLink {
    background-color: rgb(65, 105, 225) !important;
    font-weight: bold;
    color: white !important;
    font-size: 1.2em;
}

.lesson {
    color: rgb(65, 105, 225);
    text-align: start;
    width: 100%;
}

.lesson:hover {
    background-color: rgb(65, 105, 225);
    color:white;
    text-align: start;
    width: 100%;
}

.addNewLesson, .addNewCourse {
    color: rgb(65, 105, 225) !important;
    border-color: rgb(65, 105, 225) !important;
}

.addNewLesson:hover, .addNewCourse:hover {
    background-color: rgb(65, 105, 225) !important;
    color: white !important;
}

.courseToggler {
    color: rgb(65, 105, 225) !important;
    border-color: rgb(65, 105, 225)!important;
    background-color: white !important;
}

.courseToggler:hover {
    color: white !important;
    background-color: rgb(65, 105, 225) !important;
}

.shuffledPart {
    background-color: white !important;
    color: black !important;
    border-color: black !important;
    margin: 5px 5px 5px 5px;
    height: 40px;
}

.gapToInsert {
    margin: 0 5px 5px 5px;
}

.rightAnswer {
    color: #4F8A10 !important;
    background-color: #DFF2BF !important;
}

.wrongAnswer {
    color: #D8000C !important;
    background-color: #FFBABA !important;
}

.task {
    width: 100%;
    /*box-shadow: 0 1px 0 1px rgba(0,0,0,0.8);*/
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1% !important;
    margin-left: 1% !important;
    border: 1px solid black;
}

.deleteButton {
    margin-left: 83%;
}

@media(min-width: 376px) and (max-width: 500px) {
    .deleteButton {
        margin-left: 86%;
    }
}

@media(min-width: 501px) and (max-width: 650px) {
    .deleteButton {
        margin-left: 88%;
    }
}

@media(min-width: 651px) and (max-width: 800px) {
    .deleteButton {
        margin-left: 90%;
    }
}

@media(min-width: 801px) and (max-width: 900px) {
    .deleteButton {
        margin-left: 92%;
    }
}

@media(min-width: 901px) and (max-width: 1100px) {
    .deleteButton {
        margin-left: 93%;
    }
}

@media(min-width: 1001px) {
    .deleteButton {
        margin-left: 94%;
    }
}