.lessonItem {
    background-color: #1b6ec2;
    border-color: #ffffff;
    height:70px;
    width: 80%;
    color: #ffffff;
    border-radius: 5%;
}

.container, .instruction {
    text-align: center;
}

.lesson {
    text-align: center;
    width: 100%;
}

.modalButton {
    width: 150px;
    height: 150px;
}

.dataInput {
    width: 70%;
}

.saveLessonButton {
    margin-top: 10px;
}

.menuHeader {
    height: 70px;
    font-size: 0.9em;
}

.menuCourseHeader {
    height: 70px;
}

.mainMenuHeader {
    height: 70px;
    font-size: 0.9em;
}

.userMenuHeader {
    height: 70px;
}

.materialContent {
    width: 700px;
    height: 700px;
}

@media (max-width: 1037px) {
    .menuHeader {
        height: 130px;
    }
}

@media (max-width: 950px) {
    .mainMenuHeader {
        height: 130px;
    }
}

@media (max-width: 900px) {
    .materialContent {
        width: 600px;
        height: 600px;
    }
}
@media (max-width: 720px) {
    .mainMenuHeader {
        height: 130px;
    }
    .materialContent {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 501px) {
    .mainMenuHeader {
        height: 195px;
    }
    .materialContent {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 370px) {
    .menuCourseHeader {
        height: 130px;
    }
    .materialContent {
        width: 250px;
        height: 250px;
    }
}